<footer id="link-custom" class="footer-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center col-md-4">
                <p class="hidden-xs">Location:</p>
                <address>1115 E Walnut Ave<br>Dalton, GA 30721</address>
                <p class="hidden-xs">Contact Us:</p>
                <address>(706) 270-4198<br><a href="nunez1822@yahoo.com">nunez1822@yahoo.com</a></address>
            </div>
            <div class="col-md-4">
                <a routerLink="/dashboard">
                    <img class="center-block footer-logo" src="https://firebasestorage.googleapis.com/v0/b/nma-app-b2ca8.appspot.com/o/nma-logo.png?alt=media&token=d3db6184-a65d-4443-8774-6fd372bca41c" alt="">
                </a>
            </div>
            <div id="a-custom" class="text-center col-md-4">
                <p class="hidden-xs">Follow Us:</p>
                <a href="https://www.facebook.com/iLikeDaltonState" target="_blank"><i class="fa fa-facebook-square fa-fw "></i> Facebook</a>
                <a href="https://twitter.com/DaltonState" target="_blank"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                <a href="https://www.youtube.com/user/DaltonStateOfficial" ><i class="fa fa-youtube fa-fw"></i> YouTube</a>
                <a href="http://instagram.com/dalton_state"><i class="fa fa-instagram fa-fw"></i> Instagram</a>
                <a href="https://plus.google.com/109091101786738843068/videos"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
                <a href="https://www.linkedin.com/edu/dalton-state-college-32179"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
            </div>
            <!--<div>
                <span id="siteseal">
                    <a href="https://seal.godaddy.com/getSeal?sealID=xn969S1lhGLTOxJRtGeRK5nDrvBzbtxWaDaZGySQhEv6FkDJxdspTvhS0Hpj" style="font-family: arial; font-size: 10px; text-decoration: none;">
                        <img src="img/siteseal.gif" alt="SSL Certificate" title="SSL Certificate" border="0" />
                    </a>
                </span>
            </div>-->
        </div>
        <div class="col-xs-12">
            <p class="copyright">
                &copy; 2016 Nunez's Music Academy &bull; Website Design By: <a href="">Kevin Nunez</a>
            </p>
        </div>
    </div>
</footer>

