<div class="container">
  <div class="page-header" style="text-align: center">
    <h2>Nunez&#39;s Music Academy offers several plans to choose from. Weekly lessons are available in 30, 45, and 60 minute sessions, in the our school or in your own home.</h2>
  </div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Nunez’s Music Academy RATES
  </div>
  <!-- Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Minutes</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4</td>
        <td>30</td>
        <td>$120.00</td>
      </tr>
      <tr>
        <td>4</td>
        <td>45</td>
        <td>$160.00</td>
      </tr>
      <tr>
        <td>4</td>
        <td>60</td>
        <td>$200.00</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Individual lessons Rates: 
  </div>
  <!-- Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Minutes</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>30</td>
        <td>$30.00</td>
      </tr>
      <tr>
        <td>1</td>
        <td>45</td>
        <td>$45.00</td>
      </tr>
      <tr>
        <td>1</td>
        <td>60</td>
        <td>$60.00</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Group Lessons Rates: 
  </div>
  <!-- Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Minutes</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>60</td>
        <td>$89.00</td>
      </tr>
      <tr>
        <td>4</td>
        <td>60</td>
        <td>$349.00</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-info" role="alert">
  Travel fee: add $10 per session for lessons in your home.
  Ask about family discounts!
</div>
<div class="alert alert-warning" role="alert">
  All paid lessons are non-refundable!
</div>